body {
  background-image: linear-gradient(
    90deg,
    #2186a8,
    #545abd,
    #2c3188 /* #de1a72 */
  ) !important;
}

.form-group {
  margin-bottom: 1.5rem;
}

.table {
  margin-top: 1.5rem;
}

input:focus {
  border: solid lightsteelblue !important;
}
